<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">  <!-- Подключение внешнего стиля через файл style.css -->
    </head>
    <body>

        <a href="index.html">Главная</a>
        <a href="sportsman.html">Спортсмены</a>
        <h1>Контакты</h1>  <!-- Заголовок страницы "Контакты" -->
        <p>Эта страница для просмотра контактов</p>  <!-- Пояснительный текст на странице -->
        <a href="tel:28484848">Наш телефон: 28484848</a>  <!-- Ссылка для набора номера телефона -->
        <a href="mailto:info@website.com">Наш e-male: info@website.com</a>  <!-- Ссылка для отправки письма по электронной почте -->
        <br/>
        <img src="../static/images/contacts.png" alt="Изображение" width="100" />
    </body>
</html>
