<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">  <!-- Подключение таблицы стилей -->
    </head>
    <body>

        <a href="contacts.html" class="link">Контакты</a>
        <a href="sportsman.html">Спортсмены</a>
        <h1>Главная</h1>  <!-- Заголовок страницы -->
        <p>Спортивные товары</p>  <!-- Абзац с текстом о спортивных товарах -->
        <a href="sport.pdf" download>Скачать файл</a>
        <p><strong>Список спортивных товаров:</strong></p>
        <ol class="list">
            <li>сетка баскетбольная;</li>
            <li>мяч;</li>
            <li>велосипед;</li>
            <li>роликовые коньки;</li>
            <li>скейтборд.</li>
        <ol>
    </body>
</html>
