<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">  
    </head>
    <body>

        <a href="index.html">Главная</a>
        <a href="contacts.html">Контакты</a>
        <h1>Спортсмены</h1>  
        <table border="1">
            <thead>
                <tr bgcolor="1f75fe" >
                    <th>№</th>
                    <th>Имя</th>
                    <th>E-mail</th>
                    <th>Пол</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Дмитрий</td>
                    <td>dmitry@mail.com</td>
                    <td>М</td>
                    <td>21.11.2020</td>
                </tr>
                <tr bgcolor="#e7feff">
                    <td>2</td>
                    <td>Иван</td>
                    <td>ivan@mail.com</td>
                    <td>М</td>
                    <td>20.12.2018</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Мария</td>
                    <td>mary@mail.com</td>
                    <td>Ж</td>
                    <td>01.09.2022</td>
                </tr>
                <tr bgcolor="#e7feff">
                    <td>4</td>
                    <td>Анна</td>
                    <td>anna@mail.com</td>
                    <td>Ж</td>
                    <td>01.05.2020</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Захар</td>
                    <td>zahar@mail.com</td>
                    <td>М</td>
                    <td>09.05.2022</td>
                </tr>
            </tbody>
        </table> 
        </body>
</html>